@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i");

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #89cff0;
    color: #000;
    padding: 0.2em 0;
}

body { 
    font-size: 13;
    line-height: 1.5;
    background-color: #FDFDFD;
    overflow-x:hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 324%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 219%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-size: 148%;
}

p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 100%;
    color: #606060;
}

.bigger p {
    font-size: 125%;
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

.smaller {
    font-size: 75%;
}

.container {
    margin-top: 0px;
    width: 100vw;
    padding: 2%;
    margin: 0px;
    z-index: 2;
    position: absolute;
}

.circular {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

ul li {
    margin: 0px;
    padding: 0px; 
}

@media screen and (max-width:850px) {  
    h1 {
        font-size: 300%;
    }
}

@media screen and (max-width:768px) {  
    body {
        font-size: 12px;
    }

    .circular {
        width: 50%;
    }

    .container {
        padding-top: 0;
    }

    .left {
        padding: 5%;
        text-align: center;
        background-color: #89cff0;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .right { 
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (min-width:768px) {  
    .right {
        padding-left: 6%;
    }

    .fixed {
        position: fixed;
        width: 25%;
    }

    #background {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 29%;
        height: 100%;
        background-color: #F0F0F0;
        z-index: 1;
    }
}

@media screen and (min-width:1100px) {  
    h1 {
        font-size: 400%;
    }
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
